//gitlab.com/api/v4/projects/29452185/packages/npm/:_authToken=7-ZzVXcrSxSCn59uB6TT
//gitlab.com/api/v4/packages/npm/:_authToken=7-ZzVXcrSxSCn59uB6TT
@momo-platform:registry=https://gitlab.com/api/v4/packages/npm/